#site {
    height: 70px;
}

#site_bottom {
    height: calc(100vh - 70px);
}



#main_site {
    width: calc(100vw - 70px);
}

.ms_logo{
    width: 40px;
}

.my_sidebar{
    background-color: #11263f;
}

.ms_bg_light {
    background-color: #e5e5e5;
}

.ms_bg_darkblu {
    background-color:  #051e34;
}

.ms_bg_lighblu{
    background-color: #1a72e9;
}
.my_pill_blu{
    background-color: #175bbb;
}

.my_pill_size{
    font-size: 10px;
}

.my_white{
    color: white;
}

#sidebar {
    background-image: url(../img/sidebar-bg.png);
}

/* #endregion #sidebar */

/* #region #site_main */

#main_site {
    overflow-y: auto;
}

#main_site table img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.my_w_100 {
    width: 100% !important;
}

@media screen and (min-width: 992px) {

    .my_w_lg_50 {
        width: 50% !important;
    }
}

@media screen and (min-width: 1200px) {

    #sidebar {
        width: 150px;
    }

    #main_site {
        width: calc(100vw - 150px);
    }
}