#site {
    height: 85px;
}

#site_bottom {
    height: calc(100vh - 85px);
}

#sidebar {
    width: 85px;
}

#main_site {
    width: calc(100vw - 85px);
}

.ms_logo{
    width: 40px;
}

.my_sidebar{
    background-color: #11263f;
}

.ms_bg_light {
    background-color: #e5e5e5;
}

.ms_bg_darkblu {
    background-color:  #051e34;
}